[Unit]
Description=Apache Flink

[Service]
Type=forking
User={{ flink_user }}
Group={{ flink_group }}
ExecStart={{ flink_install_dir }}/bin/start-cluster.sh
ExecStop=-{{ flink_install_dir }}/bin/stop-cluster.sh
Restart=always

[Install]
WantedBy=default.target